* {
	margin: 0px;
	padding: 0px;
}

body {
	box-sizing: border-box;
}

/* Sections */
section {
    padding: 10px;
    /*min-height: 700px;*/
    /*border: solid 1px black;*/
}

header, div.cent {
	background: #fff;
	background-image: url('../images/ezloan-money1.jpg');
	background-repeat: none;
	background-attachment: fixed;
	background-position: top center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	min-height: 700px;
	min-width:100%;
	-o-background-size: cover;
	text-align: center;
	position: relative;
	height: 700px;
}

#about, #how{
    min-height: 700px;
	text-align: center;
	background: black;
	border: 1px solid black;
}

#features, #contact{
	padding: 0px;
    min-height: 700px;
	padding-top: 100px;
	padding-bottom: 18px;
	text-align: center;
	background: #f8f8f8;
	/*border: 1px solid red;*/
}

#trial{
	padding: 0px;
    min-height: 200px;
	padding-top: 100px;
	padding-bottom: 18px;
	text-align: center;
	background: white;
	/*border: 1px solid black;*/
}

img {
	max-width: 100%;
	max-height: auto;
}

.staticphoto{
	background: gray;
	/*background-image: url("../images/dash.png");*/
	height: 50%;
	width: 100%;
	object-fit: contain;
}

.staticphoto2{
	background: gray;
	/*background-image: url("../images/dash.png");*/
	height: 400px;
	width: 100%;
	object-fit: contain;
}

footer {
	padding-top: 25px;
	padding-bottom: 25px;
	text-align: center;
	background-color: #000;
	/*border: 1px solid green;*/
}
/* End Sections */


/* Navbar Properties */
.navbar-default {
	background-color: #222222;
	border-color: transparent;
}

.navbar-default .navbar-brand {
	color: #DE3B4B;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	-webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
	color: #DA253A;
}

.navbar-default .navbar-toggle {
	margin-top: 10px;
	margin-right: 8px;
	margin-bottom: 0px;
	background-color: none;
	border: none;
	padding-top: 2px;
	padding-right: 11px;
	padding-bottom: 6px;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover span{
	background-color: transparent;
	color: #DE3B4D;
}

.navbar-default .navbar-toggle:focus span{
	color: none;
}

.navbar-default .nav li a {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	letter-spacing: 1px;
	color: white;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}
.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
	color: #DE3B4D;
	outline: none;
}

.navbar-default .navbar-nav > .active > a {
	border-radius: 5;
	color: white;
}
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color: white;
	/*background-color: #DE3B4D*/;
}
/* End Navbar Properties */

/* Header Properties */
header .intro-text {
	padding-top: 100px;
	padding-bottom: 50px;
}

header .intro-text .intro-lead-in {
	font-family:'Raleway', sans-serif;
	font-size: 80px;
	line-height: 20px;
	margin-bottom: 25px;
	font-weight: Bold;
	/*border: 1px solid black;*/
	color: #fff;
}

header .intro-text .intro-lead-in .logo{
	width: auto;
	height: 70px;
	margin-bottom: 20px;
}

header .intro-text .intro-heading {
	font-family: 'Raleway', sans-serif;
	font-weight: Lightest;
	font-style: Italic;
	font-size: 20px;
	line-height: 20px;
	margin-bottom: 25px;
	color: #fff;
}
/* End Header Properties */


/* Buttons */
.btn-xl {
	opacity: 1;
	color: white;
	background-color: #DE3B4D;
	font-family: "Roboto", sans-serif;
	font-weight: Bold;
	font-size: 15px;
	padding: 13px 33px;
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active{
	color: white;
	background-color: #DA253A;
}
	
.dtestbtn {
	margin-top: -20px;
}

ul.social-buttons {
	margin-top: 15px;
	margin-bottom: 0;
}

ul.social-buttons li a {
	display: block;
	background-color: #222;
	height: 40px;
	width: 40px;
	border-radius: 100%;
	font-size: 20px;
	line-height: 40px;
	color: #fff;
	outline: none;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
	background-color: #a81424;
	color: white;
}
/* End Buttons */

/* Sections Properties */
section h2.section-heading {
	font-size: 40px;
	font-weight: 600;
	margin-top: 0;
	margin-bottom: 15px;
	font-family: 'Montserrat', sans-serif;
	/*border-bottom: 1px solid black;*/
}

section h3.section-subheading {
	font-size: 18px;
	text-transform: none;
	font-weight: 400;
	margin-bottom: 15px;
	font-family: "Montserrat", sans-serif;
}

.heading {
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 19px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

.cont{
	margin-bottom: 20px;
}

.contdetails{
	font-family: 'Convergence', sans-serif;
	font-size: 18px;
	color: #222;
	margin-bottom: 50px;
}

.footer-span1{
	left: 0;
}

.footer-span2{
	right: 0;
}

footer .copyright {
	line-height: 20px;
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: white;
	/*border: 1px solid black;*/
}
/* End Sections Properties */

@media (min-width: 768px) {
	.text-muted{
		margin-bottom: 20px;
		margin-top: 20px;
	}
	
	.navbar-default {
		background-color: transparent;
		padding: 25px 0;
		-webkit-transition: padding 0.3s;
		-moz-transition: padding 0.3s;
		transition: padding 0.3s;
		border: none;
	}
 
	.navbar-default .navbar-brand {
		font-size: 2em;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
	}
	.navbar-default .nav li a {
		font-family: "Roboto", sans-serif;
		letter-spacing: 1px;
		color: white;
		-webkit-transition: color 0.2s;
		transition: color 0.2s;
	}

	.navbar-default .nav li a:hover,
	.navbar-default .nav li a:focus {
		color: #DE3B4D !important; /*color pag naghahover sa navbar*/
		outline: none;
	}

	.navbar-default .navbar-nav > .active > a {
		/*border-radius: 10px;*/
		color: #DE3B4D !important; /*color pag naghahover sa navbar*/
		outline: none;
	}
  
	.navbar-default .navbar-nav > .active > a:hover, 
	.navbar-default .navbar-nav > .active > a:focus{
		color: #000 !important; /*kulay kapag active yung section*/
	}
	
	/*NAVBAR COLOR */
	.navbar-default.navbar-shrink {
		background-color: #222;
		padding: 10px 0;
		/*border-bottom: 1px solid #333;*/
		box-shadow: 1px 1px 1px;
		/*float: none;*/
	}
  
	.navbar-default.navbar-shrink .navbar-brand {
		font-size: 1.7em;
	}
  
	.navbar-default.navbar-shrink .nav li a {
		color: #fff;
		-webkit-transition: color 0.2s;
		transition: color 0.2s;
	}
	
	header .intro-text {
		padding-top: 120px;
		padding-bottom: 130px;
	}
  
	header .intro-text .intro-lead-in {
		font-family: 'Montserrat', sans-serif;
		font-size: 80px;
		line-height: 42px;
		margin-bottom: 25px;
		font-weight: Bold;
	}
  
	header .intro-text .intro-lead-in .logo{
		width: auto;
		height: 90px;
		margin-bottom: 30px;
	}
  
	header .intro-text .intro-heading {
		font-family: 'Raleway', sans-serif;
		font-weight: 300;
		font-size: 38px;
		line-height: 38px;
		margin-bottom: 30px;
	}
  
	section h3.section-subheading {
		margin-bottom: 20px;
	}
	
	.contdetails{
		margin-bottom: 0px;
	}
	
	.footer-span1{
		left: 14%;
	}

	.footer-span2{
		right: 12%;
	}
 
	footer .copyright {
		line-height: 40px;
	}

	ul.social-buttons {
		margin-top: 0;
	}
}

 /* Popover */
.popover {
    border: 3px outset grey;
}

/* Popover Body */
.popover-content {
    background-color: #DE3B4B;
    color: #FFFFFF;
    padding: 25px;
}

.well{
	background-color: white;
}

div.log{
	text-align: center;
	margin: 0px;
	padding: 0px;
}

img.footimg{
	height:50px;
}
	
.btn-black {
	background-color:black;
	color: white;
}


.btn-red {
	background-color:#DE3B4B;
	color: white;
}

footer.marg{
	padding-top: 15px;
	padding-bottom: 0px;
}

div.topdiv{
	background-color:#222;
	padding-bottom: 20px;
}

div.directdiv{
	background-color:#DE3B4B;
	padding-bottom: 10px;
}

label {
  display: table;
  width: 100%;
  margin-bottom: 5px;
  font-weight: normal;
}



#dialogoverlay {
	display: none;
	opacity: .8;
	position: fixed;
	top: 0px;
	left: 0px;
	background: #CCC;
	width: 100%;
	z-index: 500;
}

#dialogbox {
	display: none;
	position: fixed;
	background: #000;
	border-radius: 7px;
	width: 550px;
	z-index: 10;
}

#dialogbox > div { 
	background: #FFF;
	margin: 8px;
	text-align: justify;
	font-family: 'Convergence', sans-serif;
	font-width: bold;
}
			
#dialogbox > div > #dialogboxhead{
	background: #DE3B4B; 
	font-size: 19px;
	padding: 10px; 
	color: #FFF;
}

#dialogbox > div > #dialogboxbody{
	background: black; 
	padding: 20px; 
	color: #FFF;
}

#dialogbox > div > #dialogboxfoot{
	background: #DE3B4B; 
	padding: 10px; 
	text-align: right;
}

/*SIGN UP FORM*/

.form-control {
  position: relative;
  font-size: 14px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-control:focus {
  z-index: 2;
}

.btn-lg, .btn-group-lg > .btn{
	padding: 10px;
    font-size: 14px;
    width: 200px;
    line-height: 1.3333333;
    border-radius: 6px;
  	background-color: #DE3B4D;
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: white;
	 -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*END OF SIGN UP FORM*/

/* Boxes beside sign up form*/

.modal-title{
	color: #000;
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.modal-header, .modal-body{
	background-color: #fff; 
}

#howtext{
	padding: 10px;
}